<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Some thing went wrong</title>
  <link rel="stylesheet" href="../../public/assets/css/errorPage.css">
</head>
<body>
  <div class="mars"></div>
  <img src="https://assets.codepen.io/1538474/404.svg" class="logo-404" />
  <img src="https://assets.codepen.io/1538474/meteor.svg" class="meteor" />
  <p class="title">Oh no!!</p>
  <p class="subtitle">
    You’re either misspelling the URL <br /> or requesting a page that's no
    longer
    here.
  </p>
  <div class="btn-section">
    <button id="go-back" class="btn-back">Back to previous page</button>
  </div>
  <img src="https://assets.codepen.io/1538474/astronaut.svg" class="astronaut" />
  <img src="https://assets.codepen.io/1538474/spaceship.svg" class="spaceship" />
</body>
<!-- jquery cdn -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!-- js file -->
<script src="../../public/assets/js/errorPage.js"></script>
</html>
